.sectionTitle{

    color:var(--blue);

    font-size:22px;

    font-weight:bold;

    margin-bottom:15px;

}

.icon{

    color:var(--blue);

}

.icon-lg{

    font-size:32px;

}

.icon-xl{

    font-size:64px;

}

.value{

    font-size:28px;

    font-weight:bold;

}

.label{

    color:var(--text3);

    font-size:12px;

}

.grid{

    display:grid;

    gap:15px;

}

.grid-3{

    grid-template-columns:repeat(3,1fr);

}

.grid-4{

    grid-template-columns:repeat(4,1fr);

}

.grid-auto{

    grid-template-columns:repeat(auto-fit, minmax(80px, 1fr));

}

.flex{

    display:flex;

}

.flex-center{

    display:flex;

    align-items:center;

}

.flex-between{

    display:flex;

    justify-content:space-between;

    align-items:center;

}