.sidebar{

    width:80px;

    background:var(--panel1);

    border-right:1px solid var(--border);

    display:flex;

    flex-direction:column;

    padding:20px 15px;

    gap:10px;

}

.logo{

    text-align:center;

    font-size:42px;

    color:var(--blue);

    margin-bottom:20px;

}

.nav-btn{

    display:flex;

    align-items:center;

    gap:15px;

    padding:15px;

    border:none;

    border-radius:10px;

    background:none;

    color:var(--text2);

    cursor:pointer;

    transition:.2s;

    font-size:16px;

}

.nav-btn:hover{

    background:var(--panel2);

}

.nav-btn.active{

    background:var(--panel2);

    color:var(--blue);

}

.nav-btn i{

    font-size:24px;

}

.main{

    flex:1;

    padding:20px;

    overflow:auto;

}

.tab-content{
    display:block;
}

.hidden{
    display:none !important;
}