:root{

    --bg:#020309;
    --panel:#111827;
    --panel2:#1a2540;

    --border:#1f2d45;

    --text:#ffffff;
    --text2:#d1d5db;
    --text3:#9ca3af;

    --blue:#4db6ff;
    --orange:#f97316;
    --green:#7CFC00;
    --red:#ff5252;

    --radius:12px;
    --padding:15px;

}