body {
    font-family: Arial, sans-serif;
    color: white;
    padding: 20px;
    background-color: #020309;
}

.section {
    margin-bottom: 30px;
}

/* Transforme la zone en grille/ligne alignée sous le titre */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

/* Donne un vrai look de carte "groupée" à ta sonde */
.card {
    background: #212d467c;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    min-width: 150px;
}

/* Tableau de prévisions météo */
#forecastTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

#forecastTable th,
#forecastTable td {
    text-align: center;
    padding: 6px 10px;
}

#weather table {
    width: 100%;
}

#weather table td,
#weather table th {
    text-align: center;
    padding: 4px;
}

.metarCard{

    background:#1d2228;
    border-radius:15px;
    padding:20px;

    color:white;

}

.metarHeader{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:15px;

}

.metarHeader h2{

    margin:0;
    color:#4db6ff;

}

.metarTime{

    font-size:20px;
    font-weight:bold;

}

.flightRule{

    width:90px;
    text-align:center;

    padding:8px;

    border-radius:8px;

    font-weight:bold;

    margin-bottom:20px;

}

.flightRule.VFR{

    background:#1b5e20;
    color:#9cff57;

}

.flightRule.MVFR{

    background:#1565c0;

}

.flightRule.IFR{

    background:#c62828;

}

.flightRule.LIFR{

    background:#8e24aa;

}

.metarGrid{

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:15px;

}

.metarItem{

    background:#2a3038;

    border-radius:10px;

    padding:15px;

    text-align:center;

}

.metarItem i{

    font-size:32px;

    color:#4db6ff;

}

.metarItem span{

    display:block;

    font-size:28px;

    margin-top:10px;

    font-weight:bold;

}

.metarItem small{

    color:#999;

}

.metarClouds{

    margin-top:20px;

    text-align:center;

}

.cover{

    font-size:34px;

    color:#7CFC00;

    font-weight:bold;

}

.metarRaw{

    margin-top:20px;

    font-family:monospace;

    background:black;

    color:#57ff57;

    padding:10px;

    border-radius:8px;

}

.windCompass{

    display:flex;
    align-items:center;
    justify-content:center;
    grid-column: span 1;

}

.windInfo{

    text-align:center;

}

.windDir{

    font-size:32px;
    font-weight:bold;

}

.windSpeed{

    font-size:24px;
    color:#4db6ff;

}
